<?xml version="1.0"?>
<launch>
       <arg name="planner_mode" default="debug" doc="Planner mode: normal or debug"/>
       <arg name="smc_controller_namespace" default="/b29_controller/b29_smc_auto_controller"/>
       <arg name="rviz_config" default="$(find b29_control)/rviz/config.rviz"/>
       <arg name="model" default="$(find b29_control)/urdf/b29/b29.urdf.xacro"/>
       <arg name="use_rviz" default="false"/>

       <param name="robot_description"
              command="$(find xacro)/xacro $(arg model) use_simulation:=false"/>

       <rosparam file="$(find b29_control)/config/hardware.yaml" command="load"/>
       <rosparam file="$(find b29_control)/config/controller.yaml" command="load"/>
       <param name="b29_controller/b29_smc_auto_controller/planner_interface/mode"
              value="$(arg planner_mode)"/>
       <param name="b29_controller/b29_smc_auto_controller/debug_validation/enabled"
              value="$(eval arg('planner_mode') == 'debug')"/>

       <node name="b29_hardware" pkg="b29_control" type="b29_hardware" respawn="false"
             output="screen"/>

       <node name="controller_spawner"
             pkg="controller_manager"
             type="spawner"
             output="screen"
             args="b29_controller/joint_state_controller
                   b29_controller/robot_state_controller
                   b29_controller/imu_sensor_controller
                   b29_controller/b29_smc_auto_controller"/>

       <include file="$(find b29_planner_adapter)/launch/planner_adapter.launch">
         <arg name="interface_mode" value="$(arg planner_mode)"/>
         <arg name="smc_controller_namespace" value="$(arg smc_controller_namespace)"/>
       </include>

       <node name="imu_topic_relay"
             pkg="topic_tools"
             type="relay"
             output="screen"
             args="/base_imu /imu/data" />

       <node if="$(arg use_rviz)"
             name="rviz"
             pkg="rviz"
             type="rviz"
             output="screen"
             args="-d $(arg rviz_config)"/>
</launch>
