<?xml version="1.0"?>
<launch>
  <arg name="use_sim_time" default="false"/>
  <arg name="use_simulation" default="false"/>
  <arg name="validation" default="false"/>
  <arg name="use_rviz" default="true"/>
  <arg name="rviz_config" default="$(find b29_control)/rviz/config.rviz"/>
  <arg name="model" default="$(find b29_control)/urdf/b29/b29.urdf.xacro"/>

  <param name="use_sim_time" value="$(arg use_sim_time)"/>
  <param name="robot_description"
         command="$(find xacro)/xacro $(arg model) use_simulation:=$(arg use_simulation)"/>

  <rosparam file="$(find b29_control)/config/hardware.yaml" command="load"/>
  <rosparam file="$(find b29_control)/config/controller.yaml" command="load"/>
  <rosparam if="$(arg validation)"
            file="$(find b29_control)/config/joint_validation_controllers.yaml"
            command="load"/>

  <node name="b29_hardware" pkg="b29_control" type="b29_hardware" respawn="false"
        output="screen"/>

  <node unless="$(arg validation)"
        name="controller_spawner"
        pkg="controller_manager"
        type="spawner"
        output="screen"
        args="b29_controller/joint_state_controller
              b29_controller/robot_state_controller
              b29_controller/imu_sensor_controller
              b29_controller/b29_smc_auto_controller"/>

  <node if="$(arg validation)"
        name="controller_spawner"
        pkg="controller_manager"
        type="spawner"
        output="screen"
        args="b29_controller/joint_state_controller
              b29_controller/robot_state_controller
              b29_controller/imu_sensor_controller"/>

  <include file="$(find b29_planner_adapter)/launch/planner_adapter.launch"/>
              
  <!-- <node name="controller_spawner"
        pkg="controller_manager"
        type="spawner"
        output="screen"
        args="b29_controller/joint_state_controller
              b29_controller/robot_state_controller
              b29_controller/b29_joint_controller
              b29_controller/imu_sensor_controller
              b29_controller/b29_smc_auto_controller
              b29_controller/left_first_leg_joint_position_controller
              b29_controller/left_second_leg_joint_position_controller
              b29_controller/left_rod_joint_position_controller
              b29_controller/right_first_leg_joint_position_controller
              b29_controller/right_second_leg_joint_position_controller
              b29_controller/right_rod_joint_position_controller
              b29_controller/left_friction_wheel_joint_velocity_controller
              b29_controller/right_friction_wheel_joint_velocity_controller" /> -->

  <node name="imu_topic_relay"
        pkg="topic_tools"
        type="relay"
        output="screen"
        args="/base_imu /imu/data" />

  <node if="$(arg use_rviz)"
        name="rviz"
        pkg="rviz"
        type="rviz"
        output="screen"
        args="-d $(arg rviz_config)"/>
</launch>
