<?xml version='1.0' encoding='utf-8'?>
<robot name="gp11_scene_left_gripper_root">
  <link name="base">
    <inertial>
      <origin xyz="8.8E-05 -1.9E-05 0.037664" rpy="0 0 0" />
      <mass value="2.429516" />
      <inertia ixx="0.006538" ixy="-0.005903" ixz="-1.4E-05" iyy="0.170381" iyz="4E-06" izz="0.167585" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/base.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/base.STL" />
      </geometry>
    </collision>
  </link>
  <link name="left_first_leg">
    <inertial>
      <origin xyz="-0.063411 -0.008934 0.141596" rpy="0 0 0" />
      <mass value="0.85685" />
      <inertia ixx="0.024155" ixy="-0.000517" ixz="0.008494" iyy="0.027184" iyz="0.001291" izz="0.005481" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/left_first_leg.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/left_first_leg.STL" />
      </geometry>
    </collision>
  </link>
  <link name="left_second_leg">
    <inertial>
      <origin xyz="3.3E-05 -5.6E-05 0.066999" rpy="0 0 0" />
      <mass value="0.55532" />
      <inertia ixx="0.003574" ixy="0" ixz="-1E-06" iyy="0.003456" iyz="2E-06" izz="0.00035" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/left_second_leg.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/left_second_leg.STL" />
      </geometry>
    </collision>
  </link>
  <link name="l_gripper_left_drive">
    <inertial>
      <origin xyz="-0.0050526 0.01348 -7.0075E-09" rpy="0 0 0" />
      <mass value="0.0064743" />
      <inertia ixx="1.96837E-06" ixy="1.06745E-06" ixz="0" iyy="8.84156E-07" iyz="0" izz="2.74340E-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/l_gripper_left_drive.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79608 0.82353 0.93725 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/coacd/l_gripper_left_drive_hull_0.obj" />
      </geometry>
    </collision>
  </link>
  <link name="l_gripper_left_up">
    <inertial>
      <origin xyz="-0.005091 0.065621 -7.5E-05" rpy="0 0 0" />
      <mass value="0.519091" />
      <inertia ixx="0.003042" ixy="0.000201" ixz="0" iyy="0.000375" iyz="2E-06" izz="0.002807" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/l_gripper_left_up.STL" />
      </geometry>
      <material name="">
        <color rgba="0.86667 0.9098 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/coacd/l_gripper_left_up_hull_0.obj" />
      </geometry>
    </collision><collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/coacd/l_gripper_left_up_hull_1.obj" />
      </geometry>
    </collision><collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/coacd/l_gripper_left_up_hull_2.obj" />
      </geometry>
    </collision>
  </link>
  <link name="left_friction_whell">
    <inertial>
      <origin xyz="5.8564E-15 -0.00061383 2.8866E-15" rpy="0 0 0" />
      <mass value="0.084511" />
      <inertia ixx="9.2E-05" ixy="9.0826E-19" ixz="0" iyy="0.000169" iyz="0" izz="9.2E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/left_friction_whell.STL" />
      </geometry>
      <material name="">
        <color rgba="0.29804 0.29804 0.29804 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.5708 0 0" />
      <geometry>
        <cylinder radius="0.048" length="0.02" />
      </geometry>
    </collision>
  </link>
  <link name="l_gripper_right_drive">
    <inertial>
      <origin xyz="0.0050526 0.01348 6.9946E-09" rpy="0 0 0" />
      <mass value="0.0064743" />
      <inertia ixx="1.96837E-06" ixy="-1.06745E-06" ixz="0" iyy="8.84156E-07" iyz="0" izz="2.74340E-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/l_gripper_right_drive.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79608 0.82353 0.93725 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/coacd/l_gripper_right_drive_hull_0.obj" />
      </geometry>
    </collision>
  </link>
  <link name="l_gripper_right_up">
    <inertial>
      <origin xyz="0.00052003 0.011886 -0.0001" rpy="0 0 0" />
      <mass value="0.12712" />
      <inertia ixx="0.000321" ixy="-3E-06" ixz="0" iyy="0.000313" iyz="0" izz="6.3E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/l_gripper_right_up.STL" />
      </geometry>
      <material name="">
        <color rgba="0.86667 0.9098 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/coacd/l_gripper_right_up_hull_0.obj" />
      </geometry>
    </collision><collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/coacd/l_gripper_right_up_hull_1.obj" />
      </geometry>
    </collision>
  </link>
  <link name="l_gripper_right_rod_ept">
    <inertial>
      <origin xyz="0.0075 0 0" rpy="0 0 0" />
      <mass value="0.008" />
      <inertia ixx="1.0E-07" ixy="0" ixz="0" iyy="1.6E-07" iyz="0" izz="1.6E-07" />
    </inertial>
    <visual>
      <origin xyz="0.0075 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.015 0.003 0.003" />
      </geometry>
      <material name="">
        <color rgba="0.86667 0.9098 1 1" />
      </material>
    </visual>
  </link>
  <link name="right_first_leg">
    <inertial>
      <origin xyz="0.058923 0.005837 0.094762" rpy="0 0 0" />
      <mass value="0.484529" />
      <inertia ixx="0.008497" ixy="-0.000168" ixz="-0.003215" iyy="0.009795" iyz="-0.000271" izz="0.003452" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/right_first_leg.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/right_first_leg.STL" />
      </geometry>
    </collision>
  </link>
  <link name="right_second_leg">
    <inertial>
      <origin xyz="3.3E-05 -5.6E-05 0.066999" rpy="0 0 0" />
      <mass value="0.55532" />
      <inertia ixx="0.003574" ixy="0" ixz="-1E-06" iyy="0.003456" iyz="2E-06" izz="0.00035" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/right_second_leg.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/right_second_leg.STL" />
      </geometry>
    </collision>
  </link>
  <link name="r_gripper_left_drive">
    <inertial>
      <origin xyz="-0.0050526 0.01348 -7.0069E-09" rpy="0 0 0" />
      <mass value="0.0064743" />
      <inertia ixx="1.96837E-06" ixy="1.06745E-06" ixz="0" iyy="8.84156E-07" iyz="0" izz="2.74340E-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/r_gripper_left_drive.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79608 0.82353 0.93725 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/coacd/r_gripper_left_drive_hull_0.obj" />
      </geometry>
    </collision>
  </link>
  <link name="r_gripper_left_uprod">
    <inertial>
      <origin xyz="-0.005091 0.065621 -7.5E-05" rpy="0 0 0" />
      <mass value="0.519091" />
      <inertia ixx="0.003042" ixy="0.000201" ixz="0" iyy="0.000375" iyz="2E-06" izz="0.002807" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/r_gripper_left_uprod.STL" />
      </geometry>
      <material name="">
        <color rgba="0.86667 0.9098 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/coacd/r_gripper_left_uprod_hull_0.obj" />
      </geometry>
    </collision><collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/coacd/r_gripper_left_uprod_hull_1.obj" />
      </geometry>
    </collision><collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/coacd/r_gripper_left_uprod_hull_2.obj" />
      </geometry>
    </collision>
  </link>
  <link name="right_friction_wheel">
    <inertial>
      <origin xyz="-2.2204E-16 -0.00061383 -1.1102E-15" rpy="0 0 0" />
      <mass value="0.084511" />
      <inertia ixx="9.2232E-05" ixy="-1.2193E-19" ixz="-3.0493E-20" iyy="0.00016859" iyz="1.0872E-18" izz="9.2232E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/right_friction_wheel.STL" />
      </geometry>
      <material name="">
        <color rgba="0.29804 0.29804 0.29804 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.5708 0 0" />
      <geometry>
        <cylinder radius="0.048" length="0.02" />
      </geometry>
    </collision>
  </link>
  <link name="r_gripper_right_drive">
    <inertial>
      <origin xyz="0.0050526 0.01348 6.9946E-09" rpy="0 0 0" />
      <mass value="0.0064743" />
      <inertia ixx="1.96837E-06" ixy="-1.06745E-06" ixz="0" iyy="8.84156E-07" iyz="0" izz="2.74340E-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/r_gripper_right_drive.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79608 0.82353 0.93725 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/coacd/r_gripper_right_drive_hull_0.obj" />
      </geometry>
    </collision>
  </link>
  <link name="r_gripper_right_uprod">
    <inertial>
      <origin xyz="0.00052003 0.011886 -0.0001" rpy="0 0 0" />
      <mass value="0.12712" />
      <inertia ixx="0.000321" ixy="-3E-06" ixz="0" iyy="0.00031321" iyz="0" izz="6.3E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/r_gripper_right_uprod.STL" />
      </geometry>
      <material name="">
        <color rgba="0.86667 0.9098 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/coacd/r_gripper_right_uprod_hull_0.obj" />
      </geometry>
    </collision><collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/coacd/r_gripper_right_uprod_hull_1.obj" />
      </geometry>
    </collision>
  </link>
  <link name="r_gripper_right_rod_ept">
    <inertial>
      <origin xyz="0.0075 0 0" rpy="0 0 0" />
      <mass value="0.008" />
      <inertia ixx="1.0E-07" ixy="0" ixz="0" iyy="1.6E-07" iyz="0" izz="1.6E-07" />
    </inertial>
    <visual>
      <origin xyz="0.0075 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.015 0.003 0.003" />
      </geometry>
      <material name="">
        <color rgba="0.86667 0.9098 1 1" />
      </material>
    </visual>
  </link>
  <link name="__rev_mount__left_first_leg_joint">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="1e-6" />
      <inertia ixx="1e-9" ixy="0" ixz="0" iyy="1e-9" iyz="0" izz="1e-9" />
    </inertial>
  </link><link name="__rev_mount__left_second_leg_joint">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="1e-6" />
      <inertia ixx="1e-9" ixy="0" ixz="0" iyy="1e-9" iyz="0" izz="1e-9" />
    </inertial>
  </link><joint name="left_first_leg_joint" type="continuous">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="left_first_leg" />
    <child link="__rev_mount__left_first_leg_joint" />
    <axis xyz="0 -1 0" />
    <dynamics damping="1.2" friction="0.08" />
  </joint><joint name="left_first_leg_joint__mount" type="fixed">
    <origin xyz="0.299916108 0.001834921 -0.038" rpy="0 0 0" />
    <parent link="__rev_mount__left_first_leg_joint" />
    <child link="base" />
  </joint><joint name="left_second_leg_joint" type="continuous">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="left_second_leg" />
    <child link="__rev_mount__left_second_leg_joint" />
    <axis xyz="0 0 1" />
    <dynamics damping="1.0" friction="0.06" />
  </joint><joint name="left_second_leg_joint__mount" type="fixed">
    <origin xyz="0.07 0.01359 -0.22765" rpy="0 0 0" />
    <parent link="__rev_mount__left_second_leg_joint" />
    <child link="left_first_leg" />
  </joint><joint name="l_gripper_left_drive_joint" type="fixed">
    <origin xyz="-0.02501924 -0.114386615 -0.000099498" rpy="2.356207399 -1.570791132 1.956181582" />
    <parent link="l_gripper_left_drive" />
    <child link="left_second_leg" />
  </joint><joint name="l_gripper_left_up_joint" type="fixed">
    <origin xyz="0.03486171 -0.035842589 0" rpy="0 0 0.4" />
    <parent link="l_gripper_left_up" />
    <child link="l_gripper_left_drive" />
  </joint><joint name="left_friction_whell_joint" type="fixed">
    <origin xyz="0.01695 0.082384 -0.0001" rpy="1.4121 -1.5708 -2.9801" />
    <parent link="l_gripper_left_up" />
    <child link="left_friction_whell" />
  </joint>
  <joint name="l_gripper_right_drive_joint" type="fixed">
    <origin xyz="0.0001 0.0215 0.1151" rpy="1.570800315 0.4 1.570801553" />
    <parent link="left_second_leg" />
    <child link="l_gripper_right_drive" />
  </joint>
  <joint name="l_gripper_right_up_joint" type="fixed">
    <origin xyz="0.018152 0.046589 0" rpy="0 0 0.4" />
    <parent link="l_gripper_right_drive" />
    <child link="l_gripper_right_up" />
  </joint>
  <joint name="l_gripper_right_rod_ept_joint" type="fixed">
    <origin xyz="0.0001 0.0365 0.1151" rpy="1.5708 0 1.5708" />
    <parent link="left_second_leg" />
    <child link="l_gripper_right_rod_ept" />
  </joint>
  <joint name="right_first_leg_joint" type="continuous">
    <origin xyz="0.30008 0.0018349 0.038" rpy="0 0 0" />
    <parent link="base" />
    <child link="right_first_leg" />
    <axis xyz="0 1 0" />
    <dynamics damping="1.2" friction="0.08" />
  </joint>
  <joint name="right_second_leg_joint" type="continuous">
    <origin xyz="0.07 -0.0018099 0.22765" rpy="0 0 0" />
    <parent link="right_first_leg" />
    <child link="right_second_leg" />
    <axis xyz="0 0 -1" />
    <dynamics damping="1.0" friction="0.06" />
  </joint>
  <joint name="r_gripper_left_drive_joint" type="fixed">
    <origin xyz="0.0001 -0.0215 0.1151" rpy="1.570800315 -0.4 1.570798447" />
    <parent link="right_second_leg" />
    <child link="r_gripper_left_drive" />
  </joint>
  <joint name="r_gripper_left_uprod_joint" type="fixed">
    <origin xyz="-0.018152 0.046589 0" rpy="0 0 -0.4" />
    <parent link="r_gripper_left_drive" />
    <child link="r_gripper_left_uprod" />
  </joint>
  <joint name="right_friction_wheel_joint" type="fixed">
    <origin xyz="0.01695 0.082384 -0.0001" rpy="2.6586 -1.5708 2.0307" />
    <parent link="r_gripper_left_uprod" />
    <child link="right_friction_wheel" />
  </joint>
  <joint name="r_gripper_right_drive_joint" type="fixed">
    <origin xyz="0.0001 0.0215 0.1151" rpy="1.570800315 0.4 1.570801553" />
    <parent link="right_second_leg" />
    <child link="r_gripper_right_drive" />
  </joint>
  <joint name="r_gripper_right_uprod_joint" type="fixed">
    <origin xyz="0.018152 0.046589 0" rpy="0 0 0.4" />
    <parent link="r_gripper_right_drive" />
    <child link="r_gripper_right_uprod" />
  </joint>
  <joint name="r_gripper_right_rod_ept_joint" type="fixed">
    <origin xyz="0.0001 0.0365 0.1151" rpy="1.5708 0 1.5708" />
    <parent link="right_second_leg" />
    <child link="r_gripper_right_rod_ept" />
  </joint>
</robot>